/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017.10.01., 0:00:45
    Author     : gfazekas
*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #20b2aa;
}

.footer-rounded-top{
    border-top-left-radius:.50rem!important;
    border-top-right-radius:.50rem!important
}

.footer-text{
    color:#fff!important
}

.navbar-bg {
    background-color: #20b2aa;
}

.custom-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 3px solid #20b2aa;
    border-radius: .50rem
}

.custom-card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: #fff;
    background-color: #20b2aa;
    border-bottom: 1px solid rgba(0,0,0,.125)
}